<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Login</h1>
            <%= message==null ? '' : message %>
            <form action="home" method="post">
                <label id="name">Name</label>
                <input type="text" name="name" id="name">
        
                <label id="password">Password</label>
                <input type="password" name="password" id="password">
                <button type="submit">Login</button>
            </form>
        </div>
    
       <div>
        <h4>Haven't registered  yet, Click here to register <a href="/signup">Sign Up</a></h4>
       </div>
    </div>
</body>
</html>