<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Settings</a></li>
        <li><a href="/home">About</a></li>
        <li><a href="/home">Profile</a></li>
     </ul>
    <form action="addstudent" method="post">
      <label id="name">Name</label>
      <input type="text" name="name">
      <label id="id">Index Number</label>
      <input type="text" name="id">
      <button type="submit">Add</button>
    </form>
    <table>
        <tr>
            <th>Student Name</th>
             <th>Student Index</th>
        </tr>
        <% projectAr.forEach(e=>{%> <tr><td><%= e.name %></td><td><%= e.index %></td></tr> <%})%>
    </table>
    
</body>
</html>